<extend name="Public/frame" />
<block name="content-box">

    <form class="form-horizontal tpx-ajaxsubmit" role="form" action="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}" method="post">

        <input_text id="contact_address" title="地址" desc="" required="1" readonly="0">{$data_contact_address}</input_text>
        <input_text id="contact_email" title="邮箱" desc="" required="1" readonly="0">{$data_contact_email}</input_text>
        <input_text id="contact_website" title="网址" desc="" required="1" readonly="0">{$data_contact_website}</input_text>
        <input_text id="contact_tel" title="电话" desc="" required="1" readonly="0">{$data_contact_tel}</input_text>
        <input_text id="contact_qq" title="QQ" desc="" required="1" readonly="0">{$data_contact_qq}</input_text>

        <input_submit></input_submit>

    </form>

</block>